::-webkit-scrollbar {
  display: none;
}

:root {
  /* buttons, links, icons */
  ---green: #22c55e;
  /* header, footer, imptext */
  ---darkGreen: #14532d;
  /* bg , heighlights */
  ---lightgreen: #dcfce7;
  /* discounts, cta btns */
  ---orange: #f97316;
  /* bookmarks, stars */
  ---yellow: #facc15;
}

/* .slide {
  animation: slide 4s linear infinite;
} */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% * 4));
  }
}

.mobileMenuActive {
  color: var(---darkGreen);
  transition: all 0.5s ease;
  background: var(---orange);
}

.mobileMenuActive span {
  display: flex;
  color: var(---darkGreen);
  transition: all 0.5s ease;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  user-select: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

/* dots */
.dots {
  position: absolute;
  bottom: 12px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background: #bbb;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: var(---darkGreen);
}
